body{
    overflow: hidden;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-image: url("../images/bg.jpg");

}ul{
    display: flex;
   
    list-style-type: none;
    
}
.heading{
  
    font-size: 45px;
    text-align: center;
    color: white;
    margin-top: 10%;
    animation: glow 2s ease-in-out infinite alternate;
}.head-2{
    color: aliceblue;
    filter: blur(2.5);
   
}

.button{
    text-align: center;
    left: 0;
}
#btn {
    padding: 15px 32px;
    font-size: 20px;
    background-color: rgb(178, 11, 184);
    color: aliceblue;
    margin-top: 15vh;
    
    border-radius: 5px;
    animation: move 2s ease-in-out forwards;
    position: relative; 
    left: 0; 
}


.gameControls{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5vh;
    background: transparent;
    flex-wrap: wrap;
    
}.hearts{
    height: 30px;
    width: 30px;
 
    border-radius: 50px;
    margin-right: 1vw;
    opacity: 1;

}.gameOverScreen{
    display: none;
    text-align: center;
    border-style: dotted;
    margin: 10vh 30vw;
    padding: 5%;
    background-color: transparent;
}


#gameCanvas{
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    background-color: aliceblue;
    margin-top: 5vh;
    margin-left: 9vw;
    object-fit: cover;
    background: transparent;
     

    
}.bubble{
    border-radius: 50%;
    background-color: #2a0505;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    text-align: center  ;
    font-size: 25px;
    

}
@keyframes move {
    0% {
        left: 0; /* Start position (left edge) */
    }
    100% {
        left: 50%; /* End position (center) */
        transform: translateX(-50%); /* Center the button horizontally */
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(209, 212, 191, 0.5);
    }
    100% {
        text-shadow: 0 0 20px rgb(226, 230, 233);
    }
}