body{
    box-sizing: border-box;
    overflow: hidden;
    background-color: blueviolet;
}
.heading{
    /* display:"none"; */
    font-size: 45px;
    text-align: center;
}.button{
    text-align: center;
    margin-top: 10vh;
}.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}.bubble{
    border-radius: 50%;
    background-color: #2a0505;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    text-align: center  ;
    font-size: 25px;
    animation:move 7s linear infinite;

}
@keyframes move {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        /* opacity: 0; */
    }
}
@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}